@charset "utf-8";

/* #sec_01 */
#sec_01{width: 100%;height: 820px;background-image: url(../img/header-bg.jpg);background-size: cover;background-position: 50% 50%;position: relative;}
#sec_01 .cloud{width: 100%;height: 100%;background-image: url(../img/cloud.png);background-repeat: no-repeat;background-size:  auto 400px; background-position: 0 100%;animation: moveCloud 80s infinite;}@keyframes moveCloud{
    0%{background-position: 0 100%;}
    50%{background-position: 100% 100%;}
    100%{background-position: 0 100%;}

}


#sec_01{}

#sec_01 .cloud{}
#sec_01 .cloud .title_group{ position: absolute;top: 50%;right: 50%; font-size: 0;transform: translate(50%, -50%);text-align: center;}
#sec_01 .cloud .title_group p{text-transform: uppercase;color: #fff;font-size: 18px;text-shadow: 0 0 2px rgba(0,0,0,0.75);}
#sec_01 .cloud .title_group h1{font-size: 38px;color: #fff;line-height: 70px;text-shadow: 0 0 2px rgba(0,0,0,0.75);}
#sec_01 .cloud .title_group h1 span{text-transform: uppercase;font-size: 48px;}
#sec_01 .cloud .title_group ul{padding: 40px 0;}
#sec_01 .cloud .title_group ul li:hover a{background-color: #999999;color: #755562;}
#sec_01 .cloud .title_group ul li{display: inline-block;padding: 0 20px;}
#sec_01 .cloud .title_group ul li a{font-size: 16px;line-height: 30px;color: #fff;text-transform: uppercase;background-color: #5e889e; width: 100%; border-radius: 4px;display: block;padding: 0 20px;}

#sec_02{margin-top: -70px;position: relative;}
#sec_02 .top{width: 1200px;margin: 0 auto;text-align: center;font-size: 0;}
#sec_02 .top ul{}
#sec_02 .top ul li{display: inline-block;width: calc(100% / 3 - 20px);vertical-align: top;padding: 0 10px;}
#sec_02 .top ul li .bg{width: 100%;height: 130px;background-repeat: no-repeat;background-position: 50% 50%;background-size: contain;}
#sec_02 .top ul li:nth-child(1) .bg{background-image: url(../img/if_vector_65_02_473778.svg);}
#sec_02 .top ul li:nth-child(2) .bg{background-image: url(../img/if_vector_65_07_473788.svg);}
#sec_02 .top ul li:nth-child(3) .bg{background-image: url(../img/if_vector_65_14_473802.svg);}
#sec_02 .top ul li .text{}
#sec_02 .top ul li .text h3{font-size: 17px;color: #5c5c5c;line-height: 60px;}
#sec_02 .top ul li .text p{font-size: 14px; color: #5c5c5c;padding-bottom: 40px;}

#sec_02 .m_banner{background-image: url(../img/Investment-Performance-Banner-650.jpg);width: 100%;height: 200px;text-align: center;background-position: 0 100%;background-size: cover;}
#sec_02 .m_banner .dark{width: 100%;height: 200px;background-color:rgba(0,0,0,0.5);}
#sec_02 .m_banner .dark .text{width: calc(50% - 20px);display: inline-block;padding: 60px 0;}
#sec_02 .m_banner .dark .text h4{font-size: 24px;color: #fff;}
#sec_02 .m_banner .dark .text a{font-size: 14px;color: #fff;padding: 20px 0;display: block;font-weight: normal;}
#sec_02 .m_banner .dark .text a:hover{color: #5e889e;}



/* 선생님 작성구간

#sec_02{text-align: center; margin-top: -60px; padding-bottom: 40px; position: relative;}
#sec_02 .wrap{width: 1200px; margin: 0 auto; font-size: 0;}

#sec_02 .wrap .cont_box{width: calc((100% / 3) - 20px); margin: 0 10px; display: inline-block; vertical-align: top; font-size: 16px; padding-bottom: 20px; }

#sec_02 .wrap .cont_box .img_part{height: 130px; background-size: contain; background-repeat: no-repeat; background-position: 50% 50%;}
#sec_02 .wrap .cont_box:nth-child(1) .img_part{background-image: url(../img/if_vector_65_02_473778.svg);}
#sec_02 .wrap .cont_box:nth-child(2) .img_part{background-image: url(../img/if_vector_65_07_473788.svg);}
#sec_02 .wrap .cont_box:nth-child(3) .img_part{background-image: url(../img/if_vector_65_14_473802.svg);}

#sec_02 .wrap .cont_box h3{font-size: 18px; color:#5c5c5c; padding-top: 20px;}
#sec_02 .wrap .cont_box p{font-size: 14px; color:#5c5c5c; padding-top: 20px;}



#sec_03{width: 100%; height: 200px; background-image: url(../img/Investment-Performance-Banner-650.jpg); background-size: cover; background-position: 50% 50%; background-attachment: fixed;}
#sec_03 .dark{width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); display: table;}
#sec_03 .dark .table_center{display: table-cell; text-align: center; vertical-align: middle;}
#sec_03 .dark .table_center h2{font-size: 24px; color:#fff; padding-bottom: 20px;}
#sec_03 .dark .table_center a{font-size: 14px; color:#5e889e;}

 */


#sec_03{background-image: url(../img/main2-bg.png),url(../img/main1-bg.png);background-attachment: fixed;}
#sec_03 .wrap{width: 1200px;margin: 0 auto;text-align: center;padding: 80px 0;font-size: 0;}
#sec_03 .wrap .title{}
#sec_03 .wrap .title h2{font-size: 36px;text-transform: capitalize;color:#5e889e;line-height: 30px;padding-bottom: 40px;}
#sec_03 .wrap .contbox{position: relative;padding-bottom: 20px;}
#sec_03 .wrap .contbox li{ width: calc(25% - 20px);height: 420px;display: inline-block;background-color: #fff;margin: 0 10px;border-radius: 4px;vertical-align: top;
box-shadow:0px 0px 6px #5e889e ;padding: 20px;}
#sec_03 .wrap .contbox li .bg{width: 100%;height: 160px;overflow: hidden;}
#sec_03 .wrap .contbox li .bg .image{width: 100%;height: 100%; background-position: 50% 50%;background-size: cover;transition: transform 0.5s;}
#sec_03 .wrap .contbox li:hover .bg .image{transform: scale(1.05);}
#sec_03 .wrap .contbox li:nth-child(1) .bg .image{background-image: url(../img/invest-01.jpg);}
#sec_03 .wrap .contbox li:nth-child(2) .bg .image{background-image: url(../img/invest-02.jpg);}
#sec_03 .wrap .contbox li:nth-child(3) .bg .image{background-image: url(../img/invest-03.jpg);}
#sec_03 .wrap .contbox li:nth-child(4) .bg .image{background-image: url(../img/invest-04.jpg);}

#sec_03 .wrap .contbox li .text{padding-top: 20px; text-align: left;}
#sec_03 .wrap .contbox li .text h3{font-size: 18px;}
#sec_03 .wrap .contbox li .text p{font-size: 14px;padding: 10px 0;line-height: 1.2;}

#sec_03 .wrap .contbox li{position: relative;}
#sec_03 .wrap .contbox li .arrow{position: absolute;right: 20px;bottom: 20px; width: 40px;height: 40px;background-image: url(../img/arrow_right.svg);}
#sec_03 .wrap .cont_bottom{padding-top: 80px;}
#sec_03 .wrap .cont_bottom .visa{height: 50px;background-image: url(../img/paysys-icon.png);background-size: contain;background-position: 50% 50%;}

#sec_04{background-image: url(../img/quick-enquiry.jpg);background-attachment: fixed;background-position: 50% 50%;background-size: cover;}
#sec_04 .dark{background-color: rgba(94,136,158,0.6);}
#sec_04 .dark .wrap{width: 1200px;margin: 0 auto;text-align: center;padding: 80px 0;font-size: 0;}
#sec_04 .dark .wrap .title{width: 1200px;margin: 0 auto;text-align: center;padding: 60px 0 ;}
#sec_04 .dark .wrap .title h2{text-transform: capitalize; color: #fff;font-size: 36px;}

#sec_04 .dark .wrap .contbox{}
#sec_04 .dark .wrap .contbox li{height: 100px;width: calc(100% / 6 - 20px);display: inline-block;margin: 0 10px 20px;}
#sec_04 .dark .wrap .contbox li a{display: block;height: 100%;width: 100%;}
#sec_04 .dark .wrap .contbox li:nth-child(1) a {background-image: url(../img/managers/m_01.jpg);}
#sec_04 .dark .wrap .contbox li:nth-child(2) a{background-image: url(../img/managers/m_02.jpg);}
#sec_04 .dark .wrap .contbox li:nth-child(3) a{background-image: url(../img/managers/m_03.jpg);}
#sec_04 .dark .wrap .contbox li:nth-child(4) a{background-image: url(../img/managers/m_04.jpg);}
#sec_04 .dark .wrap .contbox li:nth-child(5) a{background-image: url(../img/managers/m_05.jpg);}
#sec_04 .dark .wrap .contbox li:nth-child(6) a{background-image: url(../img/managers/m_06.jpg);}
#sec_04 .dark .wrap .contbox li:nth-child(7) a{background-image: url(../img/managers/m_07.jpg);}
#sec_04 .dark .wrap .contbox li:nth-child(8) a{background-image: url(../img/managers/m_08.jpg);}
#sec_04 .dark .wrap .contbox li:nth-child(9) a{background-image: url(../img/managers/m_09.jpg);}
#sec_04 .dark .wrap .contbox li:nth-child(10) a {background-image: url(../img/managers/m_10.jpg);}

